@charset "UTF-8";
.principal {
  background-image: url(../img/2dogos.jpg);
  background-size: contain;
  background-position: top; }

.principal1 {
  background-color: #0c2433; }

.conteiner-header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: none;
  grid-template-areas: "h1 h1";
  height: 220px; }
  .conteiner-header h1 {
    color: #f7f3f3;
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
    text-align: center;
    grid-area: h1;
    display: grid; }

main .pstyle {
  font-size: 200%;
  font-style: oblique;
  color: #f3f706;
  grid-area: pstyle;
  width: 283px;
  text-align: center;
  margin: 15px;
  flex-flow: column;
  height: fit-content;
  flex-basis: auto;
  background-color: #e66849; }

main .pstyle1 {
  font-size: 200%;
  font-style: oblique;
  color: #d66519;
  grid-area: pstyle;
  width: 283px;
  text-align: center;
  margin: 15px;
  flex-flow: column;
  height: fit-content;
  flex-basis: auto;
  background-color: #93a7d8; }

main .img1 {
  width: 44%;
  grid-area: img1;
  position: relative;
  left: 15px;
  top: -8px;
  display: inline-block;
  transition: heigth 2s, width 2s; }

main .img1:hover {
  height: 550px;
  width: 500px; }

main .img2 {
  width: 29%;
  position: relative;
  grid-area: img2;
  right: 43px;
  top: 13px;
  display: inline-block;
  transition: heigth 2s, width 2s; }

main .img2:hover {
  height: 400px;
  width: 400px; }

main .boton, main .boton .btndiscapacidad, main .boton .btndeportes {
  width: 200px;
  text-align: center;
  padding: 5px 0;
  margin: 2px auto;
  border-radius: 2px;
  color: black; }
  main .boton .btndiscapacidad {
    background-color: #f5f582; }
  main .boton .btndeportes {
    background-color: #86d3f1; }

main nav .video {
  grid-area: video;
  position: relative;
  width: 163%;
  display: flex; }

main article .subtitulo {
  color: #ee5007;
  text-decoration-line: underline;
  text-align: center;
  font-size: 200%; }

main article .pconEstilo {
  font-style: italic;
  font-size: 130%;
  color: #ee5007;
  margin: 15px;
  padding: 15px; }

main article nav .lista {
  font-style: italic;
  font-size: 130%;
  color: #ee5007;
  margin: 20px;
  padding: 20px; }

main .subtitulo2 {
  color: #ee5007;
  margin: 10px;
  padding: 10px; }

main .subtituloo2 {
  color: #ee5007;
  margin: 10px;
  padding: 10px;
  top: 10px;
  left: 10px; }

main form {
  margin: 0 auto;
  width: 300px;
  background-color: #ebeb89;
  padding: 10px;
  border-radius: 10px; }

main .cuadro {
  color: #ee5007; }

main .input {
  width: 200px;
  height: 18px; }

main .input:focus {
  width: 250px;
  height: 40px;
  font-size: 25px;
  color: black;
  background-color: white; }

.containerredes {
  display: grid;
  height: 600px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center; }

.containerredes div {
  text-align: center; }

.inst {
  max-width: 25%;
  max-height: 25%; }

.face {
  max-width: 25%;
  max-height: 25%; }

.wsp {
  max-width: 25%;
  max-height: 25%; }

.donaciòn {
  max-width: 25%;
  max-height: 25%; }

.ubicacion {
  max-width: 25%;
  max-height: 25%; }

.youtube {
  max-width: 25%;
  max-height: 25%; }

.footer {
  display: grid;
  justify-content: center;
  background-color: #df5b04;
  grid-template-columns: none;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "footer2" "footer3"; }

.footer2 {
  display: block;
  grid-area: footer2; }

.footer3 {
  display: block;
  grid-area: footer3; }

.imgfooter {
  height: 38px;
  width: 38px; }

.imgredes {
  width: 60px;
  border-radius: 20px;
  padding: 5px;
  transition: heigt 2s width 2s; }

.imgredes:hover {
  height: 50px;
  width: 50px; }
