@charset "UTF-8";
.principal {
  background-color: #c06e6e; }

.principal1 {
  background-color: #0c2433; }

.principal2 {
  background-image: url(../img/2dogos.jpg);
  background-size: contain;
  background-repeat: no-repeat; }

.conteiner-header {
  display: grid;
  grid-template-areas: "hamburg hamburg"; }

.hamburg {
  grid-area: hamburg;
  height: 52px; }

.imgindex {
  height: 24px;
  width: 24px; }

.conteiner-main {
  display: grid;
  grid-template-areas: "img8 titulo" "parrafo1 parrafo1" "parrafo2 parrafo2" "video img9" "boton . " "donacion donacion";
  align-items: center; }

.img8 {
  grid-area: img8;
  text-align: center; }
  .img8 .img8-1 {
    height: 100%;
    width: 170%;
    margin: 3px; }

.img9 {
  grid-area: img9;
  text-align: center; }
  .img9 .img9-1 {
    margin: 1px;
    height: 217px;
    width: 164px; }

.titulo {
  grid-area: titulo; }
  .titulo .titulo1 {
    color: #f72424;
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    text-align: center; }

.parrafo1 {
  grid-area: parrafo1; }

.parrafo2 {
  grid-area: parrafo2; }

main .pstyle {
  font-size: 100%;
  font-style: oblique;
  color: #f3f706;
  text-align: center;
  margin: 5px;
  background-color: #e66849; }

main .pstyle1 {
  font-size: 100%;
  font-style: oblique;
  color: #d66519;
  text-align: center;
  margin: 5px;
  background-color: #93a7d8; }

.boton, .boton .btndiscapacidad, .boton .btndeportes {
  width: 150px;
  text-align: center;
  padding: 2px;
  margin: 1px;
  border-radius: 18px;
  color: black;
  grid-area: boton; }
  .boton .btndiscapacidad {
    background-color: #f5f582; }
  .boton .btndeportes {
    background-color: #86d3f1; }

.video {
  grid-area: video;
  width: 160%;
  text-align: left;
  margin: 8px; }

.donacion {
  grid-area: donacion; }

main article .subtitulo {
  color: #ee5007;
  text-decoration-line: underline;
  text-align: center;
  font-size: 150%; }

main article .pconEstilo {
  font-style: italic;
  font-size: 90%;
  color: #ee5007;
  margin: 5px;
  padding: 5px; }

main article nav .lista {
  font-style: italic;
  font-size: 90%;
  color: #ee5007;
  margin: 10px; }

main .subtitulo2 {
  color: #ee5007;
  margin: 10px;
  padding: 10px; }

main .subtituloo2 {
  color: #ee5007;
  margin: 10px;
  padding: 10px;
  top: 10px;
  left: 10px; }

main form {
  margin: 0 auto;
  width: 300px;
  background-color: #ebeb89;
  padding: 10px;
  border-radius: 10px; }

main .cuadro {
  color: #ee5007; }

main .input {
  width: 200px;
  height: 18px; }

main .input:focus {
  width: 250px;
  height: 40px;
  font-size: 25px;
  color: black;
  background-color: white; }

.containerredes {
  display: grid;
  height: 450px;
  grid-template-areas: "redes1 redes2 redes2" "redes1 redes3 redes4" "redes5 redes6 redes7" "redes8 redes8 redes8";
  align-items: center; }

.containerredes div {
  text-align: center; }

.redes1 {
  grid-area: redes1;
  margin: 5%;
  padding: 5%; }

.redes1img {
  width: 125px;
  height: 125px; }

.redes2 {
  grid-area: redes2;
  color: #d66519;
  font-family: cursive;
  font-size: 180%;
  margin: 1%;
  padding: 1%; }

.redes3 {
  grid-area: redes3; }

.redes4 {
  grid-area: redes4; }

.redes5 {
  grid-area: redes5; }

.redes6 {
  grid-area: redes6; }

.redes7 {
  grid-area: redes7; }

.redes8 {
  grid-area: redes8; }

.inst {
  max-width: 50%;
  max-height: 45%; }

.face {
  max-width: 50%;
  max-height: 25%; }

.wsp {
  max-width: 50%;
  max-height: 25%; }

.donaciòn {
  max-width: 50%;
  max-height: 25%; }

.ubicacion {
  max-width: 25%;
  max-height: 25%; }

.youtube {
  max-width: 50%;
  max-height: 25%; }

.logo2 {
  width: 200px;
  height: 200px;
  position: unset;
  left: 70px;
  margin: 10px;
  padding: 10px; }

.footer {
  display: grid;
  justify-content: center;
  background-color: #df5b04;
  grid-template-columns: none;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "footer2" "footer3"; }

.footer2 {
  display: block;
  grid-area: footer2; }

.footer3 {
  display: block;
  grid-area: footer3; }

.imgfooter {
  height: 38px;
  width: 38px; }

.imgredes {
  width: 60px;
  border-radius: 20px;
  padding: 5px;
  transition: heigt 2s width 2s; }

.imgredes:hover {
  height: 50px;
  width: 50px; }
