.principal{
    background-image: url(../img/Rugby8.jpeg);
   background-size: contain;
   background-repeat: no-repeat;
   height: 50%;
   }
.principal1{
    background-color: rgb(12, 36, 51);
       } 