.principal{
    background-image: url(../img/Rugby8.jpeg);
   background-size: contain;
   background-repeat: no-repeat;
   
   }
.principal1{
    background-color: rgb(12, 36, 51);
       } 
 .principal2{
        background-image: url(../img/2dogos.jpg);
        background-size: contain;
        background-repeat: no-repeat;
           }        