.principal{
    background-color: rgb(192, 110, 110);
   
   
   }
.principal1{
    background-color: rgb(12, 36, 51);
       } 
 .principal2{
        background-image: url(../img/2dogos.jpg);
        background-size: contain;
        background-repeat: no-repeat;
           }        