.footer{
     display: grid;
     padding: 1px;
     margin: 1px;
     justify-content: center;
     background-color: #df5b04;
     grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "footer2"
    "footer3";

        }
.footer2{
  display: block;
  grid-area: footer2;
}
.footer3{
  display: block;
  grid-area: footer3;
}
                                               




.imgredes{
    width: 60px;
    border-radius: 20px;
    padding: 5px;
    transition: heigt 2s width 2s;
 }   
 .imgredes:hover{
    height: 50px;
    width: 50px;
 }  