.footer{
     display: flex;
     padding: 1px;
     margin: 1px;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;

        }

.inst{
     max-width: 5%;
     max-height: 5%;
        }
 .face{
     max-width: 5%;
     max-height: 5%;
               } 
  .wsp{
      max-width: 5%;
      max-height: 5%;
  }               
  .donaciòn{
    max-width: 5%;
    max-height: 5%;
  }

  .ubicacion{
    max-width: 5%;
    max-height: 5%;
  }

.redes1{
    font-family: cursive;
    color: rgb(247, 102, 6);
    text-decoration: none;
    font-size: 150%;        
    text-align: center;              
           }
.redes2{
    font-family: cursive;
    color: rgb(247, 102, 6);
    text-decoration: none;
    font-size: 150%;
    text-align: center;
             }

.redes3{
   font-family: cursive;
    color: rgb(247, 102, 6);
     text-decoration: none;
    font-size: 150%;
    text-align: center;
                 }
.redes4{
        font-family: cursive;
         color: rgb(247, 102, 6);
        text-decoration: none;
        font-size: 150%;
        text-align: center;
                    }
.redes5{
    font-family: cursive;
    color: rgb(247, 102, 6);
    text-decoration: none;
    font-size: 150%;
    text-align: center;
                                    }                    



.menu3{
    color: rgb(12, 36, 51);
    font-family: cursive;
    font-size: 60%;
    text-decoration: none;
    display: grid;
}             
.menu3:hover{
    color: beige; 

    }
.imgredes{
    width: 60px;
    border-radius: 20px;
    padding: 5px;
    transition: heigt 2s width 2s;
 }   
 .imgredes:hover{
    height: 50px;
    width: 50px;
 }  