.conteiner-header{ display: grid;
    grid-template-areas: 
    "hamburg hamburg"
       "none none"; }
.hamburg{
    grid-area: hamburg;
    height: 70px;
}
.imgindex{
    height: 23px;
    width: 23px;
}

