$texto: #f3f706;
$texto1:#d66519;
$fondo:#e66849;
$fondo1:#93a7d8;

main{
@mixin estilocaja($colorr,$bg) {
    font-size: 100%;
        font-style: oblique;
        color: $colorr;
        grid-area: pstyle;
        width: 283px;
        text-align: center;
        margin: 15px;
        flex-flow: column;
        height: fit-content;
        flex-basis: auto;
        background-color: $bg;
        }
.pstyle{
    @include estilocaja($texto,$fondo)
    
}
.pstyle1{
    @include estilocaja($texto1,$fondo1)
}
    .img1{
            width: 44%;
            grid-area: img1;
            position: relative;
            left: 15px;
            top: -8px;
            display: inline-block;
            
        }
        
        }
          

                    .boton{
                        width: 200px;
                        text-align: center;
                        padding: 5px 0;
                        margin: 2px auto;
                        border-radius: 2px;
                        color: black;
                        .btndiscapacidad{
                            @extend .boton;
                            background-color: rgb(245, 245, 130);
                        }
                        .btndeportes{
                            @extend .boton;
                            background-color: rgb(134, 211, 241);
                        }
                    }
                    nav{
                        .video{
                            grid-area: video;
                            position: relative;
                            width: 163%;
                            display: flex; 
                        }
                    }
    

main{
    
    article{
        .subtitulo{
            color: rgb(238, 80, 7);
            text-decoration-line: underline;
            text-align: center;
            font-size: 150%;
         }
         .subtitulo{
            @extend .subtitulo
          }
         .pconEstilo{
            font-style: italic;
            font-size: 90%;
            color: rgb(238, 80, 7);
            margin: 5px;
            padding: 5px;
                  }
                     nav{
                        .lista{
                            font-style: italic;
                            font-size: 90%;
                            color: rgb(238, 80, 7);
                            margin: 10px;
                                 }
                     }
         }
} 
main{
    .subtitulo2{
        color: rgb(238, 80, 7);
        margin: 10px;
        padding: 10px;
              }
              .subtituloo2{
                color: rgb(238, 80, 7);
                margin: 10px;
                padding: 10px;
                top: 10px;
                left: 10px;
                
              }
              form{
                margin: 0 auto;
                width: 300px;
                background-color: rgb(235, 235, 137);
                padding: 10px;
                border-radius: 10px;
            }       
              .cuadro{
                color: rgb(238, 80, 7); 
                   }
                   .input{
                    width: 200px;
                    height: 18px;
                }
                .input:focus{
                    width: 250px;
                    height: 40px;
                    font-size: 25px;
                    color: black;
                    background-color: white;
                }
} 

.containerredes{
    display: grid;
    height: 450px;
    grid-template-areas: 
    "redes1 redes2 redes2"
    "redes1 redes3 redes4"
    "redes5 redes6 redes7"
    "redes8 redes8 redes8";
    align-items: center;
}
.containerredes div{
    text-align: center;
 }
.redes1{
grid-area: redes1;
margin: 5%;
padding: 5%;
 }
.redes1img{
    width: 125px;
    height: 125px;
    }
.redes2{
    grid-area: redes2;
    color: #d66519;
    font-family: cursive;
    font-size: 180%;
    margin: 1%;
    padding: 1%;
}
.redes3{
    grid-area: redes3;
}
.redes4{
    grid-area: redes4;
}
.redes5{
    grid-area: redes5;
}
.redes6{
    grid-area: redes6;
}
.redes7{
    grid-area: redes7;
}
.redes8{
    grid-area: redes8;
}

.inst{
    max-width: 50%;
    max-height: 45%;
       }
.face{
    max-width: 50%;
    max-height: 25%;
              } 
 .wsp{
     max-width: 50%;
     max-height: 25%;
 }               
 .donaciòn{
   max-width: 50%;
   max-height: 25%;
 }

 .ubicacion{
   max-width: 25%;
   max-height: 25%;
 }
 .youtube{
   max-width: 50%;
   max-height: 25%;
   
}

.logo2{
width: 200px;
height: 200px;
position: unset;
left: 70px;
margin: 10px;
padding: 10px;
}
 